*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    font-family: "Walter Turncoat", cursive;
}

header{
    width: 1366px;
    height: 150px;
    background-color: rgb(96, 199, 23);
    margin: 0 auto;
}
header img{
    height: 95%;
    margin-left: 40px;
}
nav{
    width: 1366px;
    height: 50px;
    background-color: rgb(102, 173, 74);
    margin: 0 auto;
}
nav a{
    color: rgb(255, 240, 217);
    text-decoration: none;
    padding: 15.25px 20px;
    transition: .5s;
}
nav a:hover{
    background-color: rgb(32, 122, 41);
    transform: scale(1.2);
}
main{
    width: 1366px;
    height: 2000px;
    background-color: rgb(55, 176, 67);
    margin: 0 auto;

    background-image: url("img/pikminfondo4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.personaje{
    width: 1300px;
    margin: 20px auto;
    background-color: #ff9090;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-left: 33px;
    margin-top: 10px;
}
.foto{
    width: 400px;
    height: 400px;
    background-color: rgb(197, 255, 173);
    float: left;
    margin-left: 33px;
    text-align: center;
}
.foto img{
    width: 100%;
    height: 100%;
}
.info{
    width: 800px;
    height: 400px;
    background-color: rgb(215, 255, 186);
    float: left;
    margin-left: 33px;
    padding: 30px;
    border-bottom: 4px dashed;
}
.info h3{
    font-size: 1.8rem;
    margin-bottom: 30px;
}
footer{
    width: 1366%;
    height: 200px;
    background-color: #f8b65a;
    margin: 0 auto;
}
