*{
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    font-family: "Walter Turncoat", cursive;
}

header{
    width: 1366px;
    height: 150px;
    background-color: rgb(96, 199, 23);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    height: 95%;
    margin-left: 40px;
}
nav{
    width: 1366px;
    height: 50px;
    background-color: rgb(102, 173, 74);
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
nav a{
    color: rgb(255, 240, 217);
    text-decoration: none;
    margin: 0 20px;
    padding: 10px 20px;
    transition: .5s;
}
nav a:hover{
    background-color: rgb(32, 122, 41);
    transform: scale(1.2);
}
main{
    width: 1366px;
    height: 2000px;
    background-color: rgb(55, 176, 67);
    margin: 0 auto;

    background-image: url("img/pikminfondo4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.personaje{
    width: 1300px;
    margin: 20px auto;
    background-color: #ff9090;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-left: 33px;
    margin-top: 10px;
}
.foto{
    width: 400px;
    height: 400px;
    background-color: rgb(197, 255, 173);
    float: left;
    margin-left: 33px;
    text-align: center;
}
.foto img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.info{
    width: 800px;
    height: 400px;
    background-color: rgb(215, 255, 186);
    float: left;
    margin-left: 33px;
    padding: 30px;
    border-bottom: 5px dashed green;
}
.info h3{
    font-size: 2.0rem;
    margin-bottom: 30px;
}
footer{
    width: 1366px;
    height: 200px;
    background-color: #87540c;
    margin: 0 auto;
    padding: 10px 0;
}
footer > a{
    display: block;
    padding-top: 10px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer a:hover{
    text-decoration:  dashed;
}

.footer-nav{
    width: 1366px;
    margin: 0px auto;
    height: 70px;
    background-color: rgb(83, 54, 15);

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0 auto;
}

.footer-nav a{
    color: white;
    text-decoration: dashed;
    font-size: x-large;
    height: 150px;
    padding: 10px 20px;
    display: inline-flex;
    align-items: center;
}

.footer-nav img{
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.footer-nav a:hover{
    text-shadow: #87540c;
    transform: scale(1.1);
}

.footer-logo{
    text-align: center;
    margin-top: 10px;
}

.footer-logo img{
    width: 250px;
    height: auto;
    opacity: 0.9;
}
